<launch>

  <!-- Instantiate the UR, Yaskawa, and OptiTrack systems -->
  <include ns="ura" file="$(find usna_ur_ros)/launch/realTimeRobot_interface_URx.launch" />

  <!--
  <include ns="urb" file="$(find usna_ur_ros)/launch/robot_interface_URx.launch" >
    <arg name="robot_ip"  value="10.0.0.200" />
    <arg name="model"     value="ur5" />
  </include>
  -->

  <include ns="ysk" file="$(find usna_sia20f)/launch/realTimeRobot_interface_sia20f.launch" />

  <include file="$(find vrpn_client_ros)/launch/vrpn_optitrack.launch" />

  <!-- Create nodes for streaming optitrack data -->

</launch>
